// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.



//  Custom Color system
$primary:       #A768BA;
$secondary:     #8F5BFE;
$success:       #AFDBF4;
$info:          #76C287;
$warning:       #E88B1F;
$danger:        #FF4282;
$light:         #F3E9F1;
$dark:          #241628;



// Set height for images
img {
  height: 220px;
  object-fit: cover;
}

.card {
  border-radius: 15px !important;
}

.hoverable {
  &:hover {
    transform: scale(1.0075);
  }
}

img {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}


body {
  background: rgb(167,104,186);
  background: linear-gradient(331deg, rgba(167,104,186,0.5578606442577031) 42%, rgba(230,138,8,0.5970763305322129) 100%);
}

.hero {
  border-bottom: 1px solid $warning;
  border-top: 1px solid $warning;
  width: 100% !important;
}

.jumbotron-wrapper {
  padding: 0px !important;
}

.jumbotron {
  margin-bottom: 0px !important;
}

