// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.



//  Custom Color system
$primary:       #8a4d9c;
$secondary:     #8F5BFE;
$success:       #AFDBF4;
$info:          #76C287;
$warning:       #E88B1F;
$danger:        #ff425b;
$light:         #F3E9F1;
$dark:          #241628;



$input-btn-focus-width:       .2rem !default;
$input-btn-focus-color:       rgba($secondary, .25) !default;
$input-btn-invalid-color:     rgba($danger, .75) !default;
$input-btn-invalid-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-invalid-color !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

// LIST VIEW PAGE //
.p-none {
  padding: 0px !important;
}

.m-none {
  margin: 0px !important;
}

.card {
  border-radius: 15px !important;
}

.hoverable {
  &:hover {
    transform: scale(1.0075);
  }
}

.image-small {
  height: 220px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  object-fit: cover;
}




.jumbotron {
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
}

#jumbotron-wrapper {
  border-top: 1px solid $warning !important;
  border-bottom: 1px solid $warning !important;
}

.h1-shadow {
  text-shadow: 1px 1px 2px $warning;
}

.section-header-hr {
  width: 75%;
  margin-left: 0px;
  background-color: $warning;
}

// SINGLE VIEW PAGE //
.image-large {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.single-product-card {    // The wrapper for the large single product view card
  border-radius: 15px;
  overflow: hidden;
}


#cartQty {
  border-radius: 50%;
  background-color: $info;
  border: 1px solid darken($info, 10%);
  min-width: 15px;
  min-height: 15px;
  position: relative;
  left: 30px;
  bottom: -5px;
  font-size: 9px;
  
}

#confirmation-page {
  height: 600px;
  max-width: 500px;
  border-radius: 15px !important;
}

#cart-empty {
  height: 300px;
  max-width: 500px;
  border-radius: 15px !important;
}

.invalid {
  box-shadow: $input-btn-invalid-box-shadow;
}